body {
  min-width: 1200px;
}

/* HEADER */
header {
  text-align: center;
  height: 81px;
  position: relative;
}

header h1 {
  position: absolute;
  left: 50px;
  top: 0;
  padding-top: 14px;
}

header h1 a {
  display: block;
  width: 110px;
  height: 48px;
  color: transparent;
  background: url("../images/sp_com.png") no-repeat -300px 0;
  
}

header .lnb li {
  display: inline-block;
}

header .lnb li a {
  display: block;
  height: 81px;
  padding: 0 35px;
  font-size: 17px;
  color: #333;
  line-height: 81px;
}

header .lnb li a span {
  position: relative;
}

header .lnb li a:hover {
  color:#2d5b79;
  font-weight: bold;
}

header .lnb li a:hover span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -9px;
  background-origin: 0;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #2d5b79;
}


header .spot {
  position: absolute;
  right: 50px;
  top: 0;
}

header .spot ul li {
  float: left; 
  position: relative;
}


header .spot ul li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 7px;
  background-color: #ccc;
  transform: translateY(-50%);
}

header .spot ul li:first-child::after {
  display: none;
}

header .spot ul li a {
  display: block;
  height: 81px;
  padding: 0 10px;
  line-height: 81px;
}

header .spot ul li:last-child a {
  padding-right: 0;
}

/* VISUAL */
.visual {
  padding: 0 50px;
  position: relative;
}

.visual .prev,
.visual .next {
  width: 25px;
  height: 47px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/sp_com.png") no-repeat;
  color: transparent;
}

.visual .prev {
  left: 82px;
  background-position: -128px -60px;
}

.visual .next {
  right: 82px;
  background-position: -158px -60px;
}

.visual .control {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 55px;
  text-align: center; 
}

.visual .control a {
  color: transparent;
}

.visual .control > div {
  display: inline-block;
  position: relative;
  padding-right: 45px;
  
}

.visual .control > div > div {
  position: absolute;
  right: 0;
}

.visual .control > div > div a {
  overflow: hidden;
  display: inline-block;
  width: 8px;
  height: 9px;
  background: url("../images/sp_com.png") no-repeat;
  margin-left: 7px;
  opacity: .5;
}

.visual .control > div > div a.on {
  opacity: 1;
}

.visual .control > div > div a.play {
  background-position: -108px -72px;
}


.visual .control > div > div a.pause {
  background-position: -108px -60px;
}

.visual .control ul {
  font-size: 0;
  position: relative;
  top: -7px;
  display: inline-block;
}

.visual .control li {
  display: inline-block;
  padding: 0 3px;
}

.visual .control li.on a {
  background-color: #fff;
}

.visual .control li a {
  display: block;
  width: 50px;
  height: 3px;
  background-color: rgba(255,255,255,0.5);
  border: none;
}

.visual .con > div {
  height: 640px;
}

.visual .con .slide {
  background: url("../images/bg_main01.jpg") no-repeat center;
  color: #fff;
  font-size: 32px;
  line-height: 46px;
}

.visual .con .slide .txt {
  position: absolute;
  left: 50%;
  top: 175px;
}

.visual .con .slide p {
  font-size: 20px;
  padding-top: 19px;
  line-height: 100%;
}

/* PRODUCT */
.product ul {
  text-align: center;
  padding: 46px 0 41px;
  font-size: 0;
}

.product li {
  display: inline-block;
  /* text-align: center; */
  padding: 0 55px;
}

.product a {
  display: block;
  color: #001829;
  font-size: 15px;
}

.product a:hover {
  color: #2d5b79;
  font-weight: bold;
}

.product a::before {
  content: "";
  display: block;
  width: 64px;
  height: 52px;
  background: url("../images/sp_com.png") no-repeat;
  margin-bottom: 26px;;
}

.product li:nth-child(1) a::before {background-position: -3px -118px;}
.product li:nth-child(2) a::before {background-position: -75px -118px;}
.product li:nth-child(3) a::before {background-position: -148px -118px;}
.product li:nth-child(4) a::before {background-position: -219px -118px;}
.product li:nth-child(5) a::before {background-position: -292px -118px;}
.product li:nth-child(6) a::before {background-position: -364px -118px;}

.product li:nth-child(1) a:hover::before {background-position: -3px -184px;}
.product li:nth-child(2) a:hover::before {background-position: -75px -184px;}
.product li:nth-child(3) a:hover::before {background-position: -148px -184px;}
.product li:nth-child(4) a:hover::before {background-position: -219px -184px;}
.product li:nth-child(5) a:hover::before {background-position: -292px -184px;}
.product li:nth-child(6) a:hover::before {background-position: -364px -184px;}