/* COMMON */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, small {
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
}
.hide {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
}

header h1 {
  width: 150px;
}

header h1 img {
  width: 100%;
}

header .header__menu {
  display: flex;
}

header .header__menu li a:hover {
  color: #01579b;
}

header .header__menu li a {
  display: block;
  padding: 0 35px;
  font-size: 17px;
}

header .header__submenu {
  display: flex;
}

header .header__submenu li {
  position: relative;
}

header .header__submenu li::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 7px;
  background-color: #bdbdbd;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .header__submenu li:first-child::after {
  display: none;
}

header .header__submenu li a {
  display: block;
  padding: 0 10px;
  font-size: 12px;
}

/* MAIN */
#main .main__photo {
  height: 640px;
  background-image: url("../images/bg_main01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#main .main__photo > div {
  position: absolute;
  top: 150px;
  right: 150px;
  color: #fff;
}

#main .main__photo .title {
  font-size: 30px;
  line-height: 1.4;
  width: 100%;
  padding-bottom: 20px;
}

#main .main__photo .text {
  font-size: 20px;
}

#main .material {
  display: flex;
  justify-content: space-around;
  padding: 46px 0 41px;
}

#main .material li {
  text-align: center;
}

#main .material li img {
  width: 70px;
}

#main .material li span {
  line-height: 2em;
}

/* MAGAZINE */
#magazine {
  background-color: #DFD9D1;
}

#magazine .inner {
  height: 670px;
}

#magazine h3.title {
  font-size: 28px;
  font-weight: 700;
  padding: 50px 0 16px;
}

#magazine p.text {
  font-size: 14px;
  margin-bottom: 30px;
}

#magazine h3.title,
#magazine p.text {
  text-align: center;
}

#magazine .introduce {
  display: flex;
}

#magazine .introduce__left {
  flex-basis: 70%;
  max-width: 800px;
  background-image: url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#magazine .introduce__left > div {
  width: 200px;
  height: 428px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fafafa;
  padding: 47px 20px 0;
}

#magazine .introduce__left > div > h4 {
  font-size: 20px;
  line-height: 34px;
  padding-bottom: 9px;
}

#magazine .introduce__left > div > h4 > span {
  font-weight: 700;
}

#magazine .introduce__left > div .btn {
  width: 160px;
  height: 45px;
  border: 1px solid #fafafa;
  color: #fafafa;
  font-size: 16px;
  position: absolute;
  bottom: 40px;
}

#magazine .introduce__left > div p {
  font-size: 16px;
  line-height: 24px;
}

#magazine .introduce__right {
  max-width: 340px;
  flex-basis: 30%;
  background-color: #fafafa;
  padding: 20px 20px 0;
}

#magazine .introduce__right .wood {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
}

#magazine .introduce__right .wood .wood__img {
  margin-right: 20px;
}

#magazine .introduce__right .wood .text h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4em;
}

#magazine .introduce__right .wood .text p {
  font-size: 16px;
}

/* NOTICE-AND-NEWS */
#notice-and-news {
  padding-bottom: 100px;
}

#notice-and-news .inner {
  display: flex;
  text-align: center;
  padding: 55px 0;
}

#notice-and-news a {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color :#fafafa;
}

#notice-and-news a:hover {
  background-color: rgba(0,0,0,0.3);
}

#notice-and-news a:hover span:last-of-type {
  opacity: 1;
  transform: translateY(10px);
}

#notice-and-news a > span {
  display: block;
  transition: 350ms;
}


#notice-and-news a > span:first-of-type {
  font-size: 17px;
  font-weight: 700;
}

#notice-and-news a > span:last-of-type {
  font-size: 14px;
  transform: translateY(30px);
  opacity: 0;
}

#notice-and-news .date {
  font-size: 12px;
  color: #727272;
  display: block;
  text-align: left;
}

#notice-and-news .left {
  flex-basis: 50%;
}

#notice-and-news .left .gallery-and-blog {
  display: flex;
}

#notice-and-news .left .gallery-and-blog,
#notice-and-news .right .find {
  padding-bottom: 20px;
}

#notice-and-news .left .gallery-and-blog img {
  padding-right: 20px;
}

#notice-and-news .left .gallery {
  position: relative;
}

#notice-and-news .left .blog {
  position: relative;
}

#notice-and-news .left .blog span {
  color: #212121;
}

#notice-and-news .left .notice {
  display: flex;
  flex-direction: column;
}

#notice-and-news .left .notice .board {
  display: flex;
  line-height: 2em;
}

#notice-and-news .left .notice .board .board__left {
  border-right: 1px solid #fafafa;
}

#notice-and-news .left .notice .board .board__left,
#notice-and-news .left .notice .board .board__right {
  padding: 35px;
} 

#notice-and-news .left .notice .board p {
  width: 220px;
}
#notice-and-news .right {
  flex-basis: 50%; 
}

#notice-and-news .right .find {
  display: flex;
}

#notice-and-news .right .find__branch {
  position: relative;
}

#notice-and-news .right .find__branch img {
  padding-right: 20px;
}

#notice-and-news .right .find__product {
  background-color: #F2F0ED;
  padding: 36px 20px 0;
  width: 280px;
  height: 280px;
}

#notice-and-news .right .find__product .title {
  font-size: 17px;
  padding-bottom: 29px;
  font-weight: 700;
}

#notice-and-news .right .find__product div.select {
  padding-bottom: 10px;
}

#notice-and-news .right .find__product select {
  display: block;
  text-indent: 20px;
  font-size: 13px;
}

#notice-and-news .right .find__product .btn--green {
  margin-top: 20px;
  background-color: #2D5B79;
  color :#fafafa;
  font-size: 15px;
}

#notice-and-news .right .find__product select,
#notice-and-news .right .find__product input[type="text"],
#notice-and-news .right .find__product .btn--green {
  width: 240px;
  height: 45px;
}

#notice-and-news .right .news {
  display: flex;
  flex-direction: column;
}

#notice-and-news .left .notice,
#notice-and-news .right .news {
  width: 580px;
  background-color: #F2F0ED;
  font-size: 16px;
  color: #212121;
}

#notice-and-news .right .news .board {
  padding: 35px;
}

#notice-and-news .right .news .board > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fafafa;
}

#notice-and-news .right .news .board > div:last-child {
  border-bottom: none;
} 

#notice-and-news .right .news .board > div p {
  width: 400px;
  line-height: 2em;
}

#notice-and-news .left .notice .title,
#notice-and-news .right .news .title {
  font-size: 24px;
  font-weight: 700;
  color: #2D5B79;
  line-height: 77px; 
  border-bottom: 1px solid #fafafa;
}

#notice-and-news .left .notice p,
#notice-and-news .right .news p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: left;
}

/* OTHERS */
#others .inner {
  padding: 55px 0;
  background-image: url("../images/bg_main_business.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#others ul {
  display: flex;
}

#others ul li {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

#others ul li:last-child {
  margin-right: 0;
}

#others ul li .textbox {
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
  color: #212121;
}

#others ul li .textbox h4 {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.4em;
}

#others ul li .textbox p {
  font-size: 14px;
}

/* FOOTER */
footer,
.footer__top .left li a {
  color :#fafafa;
}

.footer__top {
  background-color: #383F43;
  
}

.footer__top .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

.footer__top .inner .left {
  display: flex;
}

.footer__top .left li {
  position: relative;
}

.footer__top .left li::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #bdbdbd;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.footer__top .left li:first-child::before {
  display: none;
}

.footer__top .left li a {
  display: block;
  padding: 0 19px;
  font-size: 13px;
}

.footer__top .left li:last-child a {
  padding-right: 0;
}

.footer__top .inner .right {
  display: flex;
  align-items: center;
}

.footer__top .inner .right .call {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 242px;
  text-align: center;
  background-color: #2A3033;
}

.footer__top .inner .right .call span:first-child {
  font-size: 13px;
}

.footer__top .inner .right .call span:last-child  {
  font-size: 20px;
  padding-left: 15px;
}

.footer__top .inner .right select{
  display: block;
  width: 200px;
  height: 44px;
  font-size: 12px;
  padding-left: 21px;
}

footer .footer__bottom {
  background-color: #4C5459;
  padding: 40px 44px;
}

footer .footer__bottom .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__bottom .logo {
  width: 131px;
  height: 51px;
}

.footer__bottom .logo img {
  width: 100%;
}

.footer__bottom .address {
  display: flex;
  padding: 32px 0 14px;
}

.footer__bottom .address li {
  font-size: 14px;
  padding: 0 14px;
}


.footer__bottom .right small {
  font-size: 14px;
}